version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'monthly'
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'monthly'
    ignore:
      # Ignores any major updates
      - dependency-name: '*'
        update-types: ['version-update:semver-major']
    groups:
      eslint:
        patterns:
          - 'eslint*'
          - '@types/eslint'
          - '@typescript-eslint/*'
          - '@angular-eslint/*'
      commitlint:
        patterns:
          - '@commitlint/*'
      stylelint:
        patterns:
          - 'stylelint*'
      prettier:
        patterns:
          - 'prettier*'
      nx:
        patterns:
          - 'nx'
          - '@nx/*'
          - '@swc*'
      angular:
        patterns:
          - '@angular/*'
          - 'rxjs'
          - 'zone.js'
          - '@angular-devkit/*'
          - '@schematics/angular'
          - 'ng-packagr'
      koobiq:
        patterns:
          - '@koobiq/*'
      ag-grid:
        patterns:
          - 'ag-grid-*'
