# Angular
dist/
tmp/
.angular

# dependencies
node_modules/

# IDEs and editors
.idea/

# misc
.sass-cache/
connect.lock/
coverage/
libpeerconnection.log/
npm-debug.log
testem.log
typings/

# System Files
.DS_Store/

# nx
.nx/cache
.nx/workspace-data
