@use '@ag-grid-community/styles' as ag;
@use 'ag-grid-community/styles/ag-theme-balham.css';

$border-radius: 0; //8px;

@include ag.grid-styles(
    (
        theme: balham
    )
);

.ag-theme-balham {
    --ag-borders: none;
    --ag-grid-size: 4px;
    --ag-icon-size: 16px;
    --ag-row-height: 40px;
    --ag-cell-horizontal-padding: 8px;

    // Background/Bg
    --ag-background-color: var(--kbq-background-transparent);
    --ag-odd-row-background-color: var(--kbq-background-transparent);

    // ROW
    --ag-border-color: tranparent;
    --ag-row-border-style: none;

    //Background/Theme-less
    --ag-selected-row-background-color: var(--kbq-background-theme-less);
    // States-background/Transparent-hover
    --ag-row-hover-color: var(--kbq-states-background-transparent-hover);

    // text-normal
    --ag-font-size: 14px;
    --ag-header-background-color: var(--kbq-background-transparent);
    --ag-header-column-separator-display: block;
    --ag-header-column-separator-width: 1px;

    // Line/Contrast-fade
    --ag-header-column-separator-color: var(--kbq-line-contrast-fade);
    --ag-header-column-separator-height: 66%;

    // States-line/Focus-theme
    --ag-range-selection-border-color: var(--kbq-line-contrast-fade);
    --ag-range-selection-border-style: dashed;

    --ag-cell-horizontal-border: solid transparent;

    .ag-root-wrapper {
        border: none;
    }

    .ag-header {
        // Line/Contrast-less
        border-bottom: 1px solid var(--kbq-line-contrast-less);
    }

    .ag-header-row {
        color: var(--kbq-foreground-contrast-secondary);
        font-weight: normal;

        &:hover {
            .ag-header-cell::after {
                display: block;
            }
        }
    }

    .ag-header-cell {
        padding: 0 8px;

        &::before {
            display: none;
        }

        &::after {
            display: none;
        }

        &:hover {
            &::before {
                display: block;
            }
        }

        .sort-available {
            display: flex;
        }
    }

    .ag-row::before {
        border-radius: $border-radius;
    }

    .ag-row[aria-selected="true"] {
        --first-selected-row: 0;
    }

    .ag-row[aria-selected="true"]:nth-of-type(1) {
        --first-selected-row: 1;
    }

    .ag-row[aria-selected="true"] {
        border-radius: 0;
    }

    .ag-row[aria-selected="true"]:nth-of-type(n + 1):nth-of-type(-n + 1) {
        border-radius: calc($border-radius * var(--first-selected-row));
    }

    .ag-cell {
        padding-right: 8px;
        padding-left: 8px;
    }

    .ag-overlay {
        pointer-events: all;
    }
}

.overflow-visible {
    .ag-cell-value {
        overflow: visible !important;
    }
}
