// Import theme
@use '@koobiq/ag-grid-angular-theme';

// Import @koobiq/icons
// https://github.com/koobiq/icons
@use '@koobiq/icons/fonts/kbq-icons';

// Import @koobiq/design-tokens
// https://github.com/koobiq/design-tokens
@use '@koobiq/design-tokens/web/css-tokens';
@use '@koobiq/design-tokens/web/css-tokens-light';
@use '@koobiq/design-tokens/web/css-tokens-dark';

// Import Inter font
// https://koobiq.io/en/main/typography/overview#installing-fonts
@import '@fontsource/inter/latin-400.css';
@import '@fontsource/inter/latin-500.css';
@import '@fontsource/inter/latin-600.css';
@import '@fontsource/inter/latin-700.css';
@import '@fontsource/inter/latin-400-italic.css';
@import '@fontsource/inter/latin-500-italic.css';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-size: var(--kbq-typography-text-normal-font-size);
    font-weight: var(--kbq-typography-text-normal-font-weight);
    line-height: var(--kbq-typography-text-normal-line-height);
    font-family: var(--kbq-typography-text-normal-font-family);
    text-transform: var(--kbq-typography-text-normal-text-transform);
    font-feature-settings: var(--kbq-typography-text-normal-font-feature-settings);
    letter-spacing: var(--kbq-typography-text-normal-letter-spacing);
    background: var(--kbq-background-bg);
    color: var(--kbq-foreground-contrast);
}

.dev-github-link {
    position: absolute;
    top: var(--kbq-size-s);
    right: var(--kbq-size-s);
}
