name: Deploy preview

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-node
      - run: yarn run build
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_KOOBIQ }}
          firebaseToolsVersion: ^13.35.1
          expires: 5d
          target: next
          channelId: data-grid-pr-${{ github.event.number }}
